body{
  background-color: #AF9483;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.navbar-brand{
  margin: 0;
  font-family: 'Black Ops One';
}
.tag{
  position: fixed;
  right: 0;
  top: 0;
  background-color: black;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.index{
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: black;
  overflow: auto;
  z-index: 1030;
  font-size: 20px;
}
.index h3{
  padding: 10px;
  margin-bottom: 25px;
}
.index a{
  display: block;
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 2px;
}
.index a.active{
  color: #337ab7;
}
.close{
  position: fixed;
  top: 0;
  right: 0;
  text-decoration: none;
}

article{
  background-color: white;
}
.content1{
  margin: 30px 0 0 0;
  padding: 10px;
}
.content2{
  margin: 10px 0 0 0;
  padding: 10px;
}
.content2 ul{
  list-style-type: none;
}
.content3{
  margin: 10px 0 60px 0;
  padding: 10px;
}
#code{
  resize: none;
  width: 100%;
  height: 300px;
  margin: 2px;
  padding: 10px;
  background-color: #1e2933;
  color: white;
}
#output{
  border: 1px solid black;
  width: 100%;
  height: 300px;
  margin: 2px;
  padding: 10px;
}
@media only screen and (max-width: 800px){
  .tag{
    position: relative;
    float: right;
    top: -20px;
    }
  .tag h4{
    display: inline;
    }
}