header{
  font-family: 'Black Ops One';
  background-color: #262626/*#2d2d30*/;
  color: white;
  height: 80px;
  margin: 0;
}
footer{
  font-family: 'Black Ops One';
  background-color: #2d2d30;
  color: white;
  letter-spacing: 2px;
}
footer h3{
  font: 30px Tangerine;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 100px;
}
footer p{
  font: 25px Flamenco;
}
.abt{
  margin-left: 25px;
}
nav{
  background-color: #262626;
}
nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  display:inline;
  float: right;
  text-align: right;
  margin: 2px 10px 2px 2px;
  padding: 2px;
  color: #999999;
  font-size: 20px;
}
.active{
  color: #CCCCCC;
  font-size: 25px;
}
.carousel{
  position: relative;
}

.slide{
  display: none;
}
.activeSlide{
  display: block;
  opacity: 0.9;
}
.carousel:hover .activeSlide{
  opacity: 1;
}
.pre{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1px;
  cursor: pointer;
}
.nxt{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1px;
  cursor: pointer;
}
.dots{
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%, -70%);
  transform: translate(-50%, -70%); 
}
.dot{
  text-align: center;
  bottom: 1px;
  display: inline;
  font-size: 40px;
  color: #4D4D4D;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.activeDot{
  color: #FFFFFF;
}
.panel{
  margin: 20px; 
  border: 1px solid #666666;
  border-radius: 4px;
  transition: box-shadow 0.5s;
}
.panel:hover{
  box-shadow: 2px 0px 30px #ADADAD;
}
.panel:hover img{
  opacity: 1;
}
.panel-heading{
  background-color: #DBDBDB !important;
}
.panel-footer{
  font-size: 18px;
}
.btn{
  background-color: #DBDBDB;
  border-radius: 2px;
}
.btn:hover{
  background-color: rgba(0, 0, 0, 0.5) !important;
  color: #DBDBDB;
}
.panel-body img{
  opacity: 0.8;
}